* {
    margin: 0;
}

header {
    background: url(../img/gato-background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30vh;   
    display: flex;
    justify-content: center; 
    
    background-position: center center;
}

header div {
    color: white;
    display: flex;
    align-items: center;
    align-content: space-around;
}

header div h1 {
    font-size: 470%;
    width: 50%;
}

